<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>dandy</string>
			<key>Title</key>
			<string>ㄱㄴㄷ</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.soooprmx.popclip.extension</string>
	<key>Regular Expression</key>
	<string>(?s)^.*[가-힣].*$</string>
	<key>Extension Name</key>
	<string>맞춤법 검사기</string>
</dict>
</plist>
